header {
  height: 400px;
  display: flex;  
  flex-direction: column;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header .image {
  justify-content: center;
  align-items: center;
}

.name {
  justify-content: center;
  align-items: center;
}