@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(+10px);
  }
  
}

nav {
  height: 120px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-family: "Bungee", sans-serif;
  background: linear-gradient(#83899e, #4056A1);
  color: #FFFFFF;
  padding: 1.5em;
}

.write-tweet {
  /* display: inline-block; */
  float: right;
  font-size: 20px;
  font-family: Source Sans Pro;
}

.write-tweet:hover  {
  /* display: inline-block; */
  font-size: 23px;
  cursor: pointer;
}

.fa-chevron-circle-down {
  margin-left: 50%;
  color: red;
  animation: bounce 1.5s infinite; 
}

.fa-angle-double-up {
  color: tomato;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.75em;
  animation: bounce 1.5s infinite; 
  visibility: visible;
}

.fa-angle-double-up:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
